/* Reset and Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f5f7fa;
  color: #333;
}

/* Navigation Bar */
header {
  background-color: #fab2ee;
  color: rgb(250, 247, 247);
  padding: 10px 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.nav-links li a:hover {
  text-decoration: underline;
}

/* Hero Section */
.hero {
  padding: 60px 20px;
  text-align: center;
  background-color: #eaf1f8;
}

.hero h2 {
  font-size: 2.2rem;
  margin-bottom: 15px;
}

.hero p {
  font-size: 1.2rem;
}

/* Forms */
.form-section {
  padding: 40px 20px;
  max-width: 500px;
  margin: auto;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.form-section h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-section form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-section input,
.form-section select,
.form-section button {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-section button {
  background-color: #78f530;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.form-section button:hover {
  background-color: #0056b3;
}

/* Messages */
#registerMsg,
#loginMsg,
#appointmentMsg {
  text-align: center;
  color: green;
  font-weight: bold;
  margin-top: 10px;
}

/* Table Section */
.table-section {
  padding: 40px 20px;
  max-width: 700px;
  margin: auto;
}

.table-section h2 {
  text-align: center;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

table th,
table td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: center;
}

table th {
  background-color: #35f578;
  color: white;
}

/* Prescription Section */
.prescription {
  padding: 40px 20px;
  max-width: 500px;
  margin: auto;
  background-color: #fff4f4;
  border-left: 5px solid #ff5252;
  border-radius: 6px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.prescription h2 {
  margin-bottom: 15px;
  color: #b71c1c;
}

/* Footer */
footer {
  background-color: #070000;
  text-align: center;
  padding: 15px 0;
  margin-top: 30px;
  font-size: 0.9rem;
}
